<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Textarea Autocomplete</title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <link href="https://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </link>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="{{url_for('static', filename='logic.js')}}"></script>
</head>

<body>
    <div id='inputDiv' class='column'>
        <h1>Amazon Smart Review</h1>
        <form action="jquery" id="form1">
            <textarea rows='14' cols='80' id="input1"></textarea>

        </form>
    </div>

    <div id='msgs' class='column' style='font-size:10pt;font-weight:normal;color:red;'>
    </div>

</body>

</html>